* {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body {
    background-color: white;
    max-width: 1200px;
    margin: 0px;
    padding: 0px;
}


#img1 {
    margin-left: 350px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 150px;
    width: 150px;
    float: left;
}




.image2 {
    position: absolute;
    display: inline-block;
    object-fit: cover;
    top: 290px;
    left: 160px;
}

.image2 #img2 {
    display: block;
    width: 330px;
    height: 310px;
    float: left;
}

.image2 .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}


.image2 .text1-overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;

}

h2 {
    color: white;
    margin-bottom: 70px;

}

h3 {
    color: white;

}

p1 {
    margin-top: 30px;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: left;
    margin-left: 300px;
    color: black;
}

p {
    margin-top: 5px;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: left;
    margin-left: 350px;
    color: black;
}

header nav {
    display: grid;
    width: 100%;
    background-color: brown;
    height: 80px;
    width: 1280px;
    gap: 1em;
    grid-template-columns: 1fr 2fr 1fr;


}

header>nav>ul>li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

header>nav>ul {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(5, 9fr);
    grid-column-start: 2;
}

header>nav>ul>li>a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
}


a:hover {
    color: yellow;
    border: 1em;
}

main {
    width: 105%;
    order: 2;
}

aside {
    width: 25%;
    order: 1;
}

aside h2 {
    text-align: center;
}

#para {
    float: left;
    clear: left;
    color: #000000;
    padding-right: 10px;
    font-size: small;

}

#a1 {
    float: right;
    color: #4b00fb;
    font-size: small;
    padding-right: 14px;
    text-decoration: underline;
}

footer {
    display: grid;
    width: 100%;
    justify-content: center;
    gap: ;
    align-items: center;
    flex-direction: column;
}
